<%- include('partials/header') -%>
<div class="container">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-5">
    <ul class="grid grid-cols-8 md:grid-cols-2 gap-4 list-none">
      <% for(var i=0; i<posts.length; i++) { %>
        <li class="col-span-1 mt-5">
          <div class="border rounded-lg shadow-lg object-fit w-80 h-50 p-4 bg-white">
            <h2 class="text-xl font-bold mb-2 text-green-900"><%= posts[i].title %></h2>
            <a href="/post/<%= posts[i]._id%>">
              <img class="w-full h-full object-cover" src="<%= posts[i].image%>" alt="Post Image">
            </a>
            <h2 class="text-yellow-500 mt-2">
              <i class="fa fa-heart"></i> <%= posts[i].likes %>
            </h2>
          </div>
        </li>
      <% } %>
    </ul>
  </div>
</div>

<%- include('partials/footer') -%>
