<%- include('partials/header') -%>
<!--  -->
<div class=" bg-gray-100 relative">
  <img class="absolute right-12 w-[25%] top-8 block rounded-full object-cover opacity-25 " src="<%= post.image%>" alt="">
<div class="container">

  <div class="flex  bg-white justify-around ml-4 relative top-4 border-solid border-2 border-gray-100 w-[60%] p-8 shadow-2xl rounded-xl" >

    <div class="mr-10">
      <h2 class="text-2xl font-bold font-['Pacifico'] text-center uppercase tracking-[.5rem] mb-4"><%= post.title %></h2>
      
      <img class="relative bottom-4 block w-[50%] rounded-lg shadow-xl dark:shadow-gray-600" src="<%= post.image%>" alt="Post Image" />
        
      

      <div class="flex justify-between">
        <form action="/post/likePost/<%= post.id %>?_method=PUT" method="POST">
          <button class="btn  text-red-800 " type="submit">
            <i class=" fa fa-heart"></i>
          </button>
          <span class=""> <%= post.likes %></span>
        </form>
        
        <% if(post.user == user.id) { %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST">
          <button class="btn text-black" type="submit">
            <i class="fa fa-trash"></i>
          </button>
        </form>
        <% } %>
      </div>
      <div class="flex font-['Allura']">
          
        <div class="mr-3">
          <span class="block">Prep-Time</span>
          <span class="block"><%= post.prepTime %></span>
        </div>
          
        <div class="mr-3">
          <span class="block">Cook-Time</span>
          <span class="block"><%= post.cookTime %></span>
        </div>
          
        <div>
          <span class="block">Servings</span>
          <span class="block"><%= post.servings %></span>
        </div>
          
      </div>
    </div>

    <div class="p-4 bg-white font-['Pacifico'] rounded-lg mt-5">
      <h2 class="text-xl font-bold  mb-2">Ingredients:</h2>
      <ul class=" list-disc list-inside">
        <% post.ingredients.forEach((ingredient) => { %>
        <li><%= ingredient %></li>
        <% }); %>
      </ul>
      <h2 class="text-xl font-bold mt-4 mb-2">Instructions:</h2>
      <ol class="list-decimal list-inside ">
        <% post.instructions.forEach((instruction) => { %>
        <li><%= instruction %></li>
        <% }); %>
      </ol>
      <h4 class="text-center mt-4 font-semibold text-lg ">Notes</h4>
      <div class="bg-white rounded-lg shadow-md p-6">
        <%= post.descriptions %>
      </div>
      
    </div>
    
  </div>
  
  <div class="p-4 bg-transparent font-Pacifico shadow-lg  w-[50%] ml-5 rounded-lg mt-10">
    <ul>
      <% for(var i=0; i<comments.length; i++) { %>
      <li class="bg-white rounded-lg shadow-sm px-4 mt-4 mb-4">
        <span class="font-semibold"><%= comments[i].user %>-</span> <%= comments[i].comment %>
      </li>
      <% } %>
    </ul>
    <h2 class="text-xl font-bold mb-2">Comment</h2>
    <form action="/comment/createComment/<%= post._id%>" method="POST">
      <div class="mb-3">
        
        <input type="text" class="bg-gray-200 bg-opacity-40 border border-gray-500 text-black text-sm rounded-lg focus:ring-2 focus:ring-gray-400 block w-full p-2.5" id="comment" name="comment" placeholder="Add comment">
      </div>
      <button class="bg-gray-200 hover:bg-gray-300 text-black font-semibold py-2 px-4  rounded">
        Submit
      </button>
    </form>
    
  </div>
  <div class="flex m-5 ">
    <button class="bg-green-200 hover:bg-green-300 text-green-950 py-2 px-4 mr-2 rounded">
      <a  href="/profile">Go to Profile</a>
    </button>
    <button class="bg-green-200 hover:bg-green-300 text-green-950  py-2 px-4  rounded">
      <a  href="/feed">Go to Feed</a>
    </button>
    
    
  </div>
</div>
</div>
<%- include('partials/footer') -%>
