<%- include('partials/header') -%>
<div class="container m-auto">
  <div>
    <div class="">
      <div class="text-right">
        <h1 class="font-mono text-green-900 text-2xl font-bold uppercase mb-4">Hello: <%= user.userName %></h1>
      </div>
      <div class="flex flex-wrap justify-end mt-5">
        <button class="bg-yellow-300 font-serif hover:bg-yellow-400 text-green-800 mr-2 font-semibold py-1.5 px-3 rounded-lg"><a href="/addRecipe">Add Recipe</a></button>
        <button class="bg-green-200 hover:bg-green-300 text-green-950 py-1.5 px-3 mr-2 rounded-lg"><a href="/logout">Logout</a></button>
        <button class="bg-green-200 hover:bg-green-300 text-green-950 py-1.5 px-3 rounded-lg"><a href="/feed">Go to Feed</a></button>
      </div>
    </div>
    <div class="">
      <ul class="relative grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-6 mt-6">
        <% for(var i=0; i<posts.length; i++) {%>
        <li class="w-full sm:w-1/2 md:w-[35%] lg:w-[70%] mt-4 hover:opacity-75 shadow-xl rounded-xl">
          <a href="/post/<%= posts[i]._id%>">
            <div class="relative">
              <img class="object-cover w-full h-[400px] rounded-xl block" src="<%= posts[i].image%>">
              <div class="absolute top-0 left-0 w-full h-full flex items-center justify-center opacity-0 hover:opacity-100 transition duration-300">
                <p class="bg-gray-700 rounded-lg text-sm p-2 text-white font-mono">View Recipe</p>
              </div>
            </div>
          </a>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</div>


<%- include('partials/footer') -%>